<div class="banner" style= "background-image: url(<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1542812403/Guardians/batman-cover.png' %>) !important;">
  <div class="banner-content">
    <h1>Heroes for rent</h1>
    <p>Hire a superhero to protect your treasures</p>
    <%= link_to "BOOK A HERO", guards_path, class:"btn btn-green btn-lg btn-mobile-opti" %>
  </div>
</div>
