<div class="card">
  <div class="card-header">
  </div>
  <div class="card-details">
    <div class="card-title">
      <%= image_tag "arya", class:'img-thumbmnail card-pic' %>
      <div>
        <h3>Arya Stark</h3>
        <p>Speciality: Faceless Women</p>
      </div>
    </div>
  </div>
  <p class="guard-status">ON DUTY <i class="fas fa-circle"></i></p>
</div>
