<div class="footer">
  <div class="footer-text">
  You want to become a guardian? Join our hero bootcamp!
  <br>
  Send your application to: <span class="text-link">apply@guardians.me</span>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
