<div class="footer">
  <div class="footer-text">
  What is this project about? Find out more
  <%= link_to "here!", about_path  %>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
