<div class="list-item">
  <div>
    <%= image_tag "arya", class:'img-thumbmnail list-pic' %>
  </div>
  <div class="list-content">
    <h3>Arya Stark</h3>
    <p>ON YOUR MISSION</p>
  </div>
  <%= link_to root_path do %>
    <%= image_tag "tick-empty" %>
  <% end %>
</div>
