// .sign-background {
//   background-image: url('https://res.cloudinary.com/dfcud6por/image/upload/v1542732279/static1.squarespace.com.jpg')
//   // height: auto;

// }

.sign-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -8vh;
  margin-bottom: -16vh;
  display: flex;
  justify-content: center;
}

.registration-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -8vh;
  margin-bottom: -16vh;
  display: flex;
}

.edit-background {
  background: white;
}

.pw-reset-shared-links {
  .links-block {
    display: flex;
    div {
      width: 50%;
      padding: 0 10px;
    }
    div:last-child {
      padding: 0 40px;
    }
  }
  > * {
  text-align: center;
  margin: 0 auto;
  }
}

.sign-box {
  background-color: $light-gray;
  width: 600px;
  padding: 20px 30px;
  border-radius: 25px;
  margin: 100px auto 160px;
}

.reset-pw-box {
  background-color: $light-gray;
  width: 600px;
  padding: 20px 30px;
  border-radius: 25px;
  margin: 100px auto 160px;
}

.text-deco-devise-none {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.registration-box{
  // height: 750px;
}

.edit-box{
  // height: 850px;
}

.links-block {
  display: flex;
  margin : 5px 20px;
}

.links {
  margin: auto
}

.form-actions {
  text-align: center;
  margin: 0px 20px 30px 20px;
}

.form-check label {
  font-style: italic;
  font-size: 14px;
  opacity: 0.5;
  margin: 5px;
}

.form-control-file {
  font-size: 14px;
  opacity: 0.8;
}
