.main-box-guards{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: -8vh;
  padding-top: 8vh;
}

.guard-pic {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 50vw;
  margin-top: -8vh;
}

.right-side-guards {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35%;
  margin: 0 auto;
  min-height: 100vh;
}

.left-side-guards {
  height: 100%;
}

.guard-main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin: 55px 0;
}

.accordion-guard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.book-button-guard {
  width: 75px;
  transition: 0.25s ease;
  padding: 7px;
}

#book-button-guard {
  //width: 75px;
  transition: 0.25s ease;
  padding: 7px;
  background-color: $light-gray;
  color: $gray-secondary;
  border: 0px;
}

.accordion-button {
  width: 100%;
  background-color: inherit;
  border-radius: 0px;
  border: 0px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover{
    border: 0px;
    border-radius: 0px;
  }
}

.initial-arrow-down {
  transform: rotateZ(90deg);
}

.specialty-text {
  opacity: 0.8;
  margin-left: 8px;
  line-height: 1;
}

.rate{
  opacity: 0.9;
  font-weight: bolder;
  line-height: 1.5;
  font-size: larger;
  letter-spacing: 1px;
  font-style: italic;
}

.availability-render {
  position: absolute;
  top: 40px;
  right: 7.5%;
}


@media only screen and (max-width: 500px) {
  .right-side-guards {
    width: 85%;
  }
  .main-box-guards {
    flex-direction: column;
    height: auto;
    width: 100vw;
    margin-top: -8vh;
    padding-top: 0;
  }
  .guard-pic {
    background-position: top;
    height: 60vh;
    width: 100vw;
    margin-top: 0;
  }

}
