.main-container {
  display: flex;
}

.index-cards-container {
  width: 60%;
  h2 {
    margin: 7px 0px 0px 25px;
  }
}

.map-container {
  width: 40%;
  height: 100vh;
  margin-left: 40px;
  h2 {
    margin-top: 7px;
  }
  position: sticky;
  top: 0;
}


@media screen and (max-width: 520px) {
  .main-container {
    flex-direction: column;
  }
  .index-cards-container {
    width: 100%
  }
  .map-container {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    position: static;
    height: auto;
  }
  #map {
    height: 350px !important;
  }
}
