.profile-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0 20px;
}

.profile.btn {
  width: 20vw;
}

.p-heading {
  font-weight: bold;
}

.p-profile {
  margin-bottom: 0;
}

.guard-flex {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.heading-guard {
  margin-top: 7vh;
}

.rounded-corners {
  border-radius: 2%;
}

#bookings-content {
  display: none;
  &.show {
    display: block;
  }
}

#guard-content {
  margin-top: 15px;
  padding-bottom: 40vh;
  display: none;
  &.show {
    display: block;
  }
}

#profile-content {
  margin-top: 15px;
  padding-bottom: 40vh;
  display: none;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &.show {
    display: block;
  }
  text-align: left;
}

.profile-header {
 //resizing efforst? Image stays the same size for now
}

#atom {
  position: absolute;
  width: 14vw;
  //top: 842px;
  bottom: 30px;
  left: 80px;
}

#bomb {
  position: absolute;
  width: 15vw;
  top: 127px;
  left: -25px;
}

#explosion {
  position: absolute;
  width: 14vw;
  right: -15px;
  top: 500px;
}

.profile-icon-view {
  &#atom {
    display: none;
  }
  &#explosion {
    display: none;
  }
}

// modal to become guardian styling

.identity-selecter-buttons {

  justify-content: space-around;
  width: 100%;
  align-self: center;
  margin-top: 20px;
}

.modal-body {
  //position: relative;
}

.fas {
  color: black;
}

.modal-footer {
  border-top: none !important;
}

.identity-option {
  padding: 10px 10px;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  font-family: $headers-font;
  color: $green;
  border-radius: 25px;
  border: solid 0.5px $green;
  p {
    margin: 0;
  }
  &:hover {
    background-color: $green;
    a {
      color: $letter-gray;
    }
  }
  a {
    &:hover {
      color: $letter-gray;
    }
  }
}

.modal-header {
  border-bottom: none !important;
}

.modal-content {
}

strong {display: inline !important};

.modal-close-button {
  width: 75px;
  transition: 0.25s ease;
  padding: 7px;
  background-color: $gray-secondary;
  border: 0px;
}
