<div class="popup-image" style ="background-image: url('<%= cl_image_path(guard.cover_pic) %>'); background-size: cover !important;
  background-position: top;">
</div>
<h4> <%= link_to guard.name, guard_path(guard.id) %></h4>

<%= guard.location %>
