<div class="container">
  <div class="row">
    <% @guards.each do |g| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <% @guard = g %>
      <%= render 'components/card', guard: @guard %>
    </div>
    <% end %>


  </div>
</div>

