<div class="container">
  <div class="row">
    <% @guards.each do |g| %>
    <div class="col-xs-12 col-sm-6 col-md-4">

      <%= link_to (render 'components/card', gua: g), guard_path(g.id) %>
    </div>
    <% end %>


  </div>
</div>

