<div class="container main-container">
  <div class="index-cards-container">
    <div class="row">
      <h2>All Heroes</h2>
      <% @guards.each do |g| %>
        <% unless g.user == current_user %>
          <div class="col-xs-12 col-sm-6 col-md-6">

            <%= link_to (render 'components/card', gua: g), guard_path(g.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="map-container">
    <h2>Superhero HQs on earth</h2>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

