.toggle-text {
  overflow: hidden;
  height: 0px;
  transition: height 0.4s ease-out;
  margin-left: 7px;
  margin-top: 10px;
}

.toggle-text-2 {
  transition: height 0.4s ease-out;
  overflow: scroll;
  margin-left: 7px;
  margin-top: 10px;
}
