.btn-green {
  background-color: $green;
  font-family: $headers-font;
  color: $letter-gray;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.25s ease;
  &:hover {
    border: solid 1px $green;
    background-color: white;
    color: $green;
  }
}

.btn-large {
  width: 200px;
}

.btn-plain {
  border: none;
  font-size: 14px;
  &:hover {
    color: $green;
  }
}

.btn-strong {
  font-size: 18px;
  font-weight: bold;
}

.center-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh 0;
}
