.background-white {
  background-color: $white;
}

.small-margin-top-bottom {
  margin: 5vh 0;
}

.medium-margin-top-bottom {
  margin: 10vh 0;
}

.no-padding {
  padding: 0;
}

.big-margin-bottom {
  margin-bottom: 20vh;
}
