<div class= 'main-box'>

  <div class="middle-box">

    <div class="left-side">
      <div class="guard-pic">
      </div>
    </div>
    <div class="right-side">
      <h1>Obi-Wan Kenobi</h1>
      <h3>Speciality</h3>
      <p>Rate</p>
      <button>Book</button>
      <p>About this hero.</p>
    </div>

  </div>

</div>
