.card {
  height: 175px;
  color: $letter-gray;
  position: relative;
  margin: 10px;
  box-shadow: 1px 1px 2px $light-gray;
  border-radius: 5px;
}
.card-header {
  height: 80%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  opacity: 1;

}

.card-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.guard-status {
  position: absolute;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 14px;
  right: 10px;
  top: 10px;
  .fas {
    color: $yellow;
  }
}

.card-pic {
  width: 50px;
}

.card-details {
  position: absolute;
  padding-left: 20px;
  top: 102px;
  h3 {
    margin: 5px 0 0 10px;
    font-size: 25px;
    color: #4DF67D;
    text-shadow: 1px 1px 2px black;
  }
  p {
    font-size: 14px;
    margin: 0 0 0 10px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
