.footer {
  background: $light-gray;
  display: flex;
  align-items: top;
  justify-content: space-between;
  height: 100px;
  //margin-top: 100px;
  padding: 25px 50px;
  font-size: 14px;
  color: rgba(0,0,0,0.3);
  .fa-heart {
  color: $green;
  }
  .footer-text {
    width: 35vw;
  }
  .text-link {
    color: $letter-gray;
    &:hover {
      color: $green;
    }
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    text-align: center;
    .footer-text {
      width: 100%;
      padding-bottom: 20px;
    }
  }
}
