.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  margin-top: 100px;
  font-size: 14px;
  color: rgba(0,0,0,0.3);
  .fa-heart {
  color: $green;
  }
  .footer-text {
    width: 35vw;
  }
  .text-link {
    color: $letter-gray;
    &:hover {
      color: $green;
    }
  }
}
