.list {
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  transition: 0.25s ease;
  p {
    color: $green;
  }
}

#complete-form {
  height: 0;
}

.list-link {
  transition: 0.3 ease;
  &:hover {
    text-decoration: none;
    h3 {
      color: $green-secondary;
    }
  }
}

.tick-button {
  border: none;
  padding: 0;
}

.list-pic {
  width: 80px;
  border-radius: 10%;
}

.list-content {
  text-align: left;
  flex: 1 0 auto;
  margin-left: 15px;
  h3 {
    margin: 0 0 5px;
    color: $letter-gray;
  }
  p {
    margin: 0;
    color: $letter-gray;
  }
}

#tick-full {
  display: none;
}

.tick-empty {
  &:hover {
    opacity: 0.3;
  }
}

.completed {
  color: $gray-secondary;
  img {
    opacity: 0.2;
  }
  h3 {
    color: $gray-secondary;
  }
  p {
    color: $gray-secondary;
  }
  #tick-full {
    display: block;
  }
  .tick-empty {
    display: none;
  }
}
