.mapboxgl-popup {
  max-width: 240px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-marker g {
  fill: #4DF67D;
}

.popup-image {
  margin-top: 10px;
  height: 120px;
  width: 200px;
}
