.tabs {
  display: flex;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0;
  a {
  color: $gray-secondary;
  font-weight: bold;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $letter-gray;
    }
  }
}

.tab {
  flex: 1 0;
  text-align: center;
  padding: 15px 0 5px;
  border-bottom: solid 3px $white;
  &.active {
    color: $letter-gray;
    text-decoration: none;
    border-bottom: solid 3px $green;
  }
}

